@font-face {
    font-family: verdana;
    src: url(../fonts/verdana.ttf);
}

#page-wrapper {
  background-color: #000;
  background-image: url('../images/background.jpg');
  background-size: cover;
  font-family: verdana;
  color: #333;
}

#logo img {
  display: block;
  margin: 0 auto;
}

.app-wrapper {
  position: relative;
  background-image: url('../images/battlefield_background.png');
  height: 400px;
  overflow: hidden;
  padding: 30px 30px;
  box-sizing: border-box;
}

.app-content {
  display: none;
}

.button {
  display: block;
  cursor: pointer;
  float: left;
  padding: 5px 10px;
  border: 1px solid black;
  color: #FFF;
  background-color: #CA7613;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 2px solid #DC7600;
  text-shadow: 2px 2px #777
}
.button:hover {
  background-color: #E48C24;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2)
}

.floating {
  float: left;
  min-height: 10px;
}

.battlefront .action-container {
  width: 150px;
  text-align: center;
}

.center-text {
  font-size: 18px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  text-align: center;
  width: 640px;
}

/* Login */
.login-screen {
  margin-top: 25px;
}

.login-screen input[name="username"] {
  width: 280px;
}

.login-screen select[name="server"] {
  width: 290px;
}

.login-screen .submit-login {
  margin-top: 15px;
}

.login-screen .login-error {
  float: right;
  width: 280px;
  color: #AD1C1C;
}

/* Game screen */
.game-screen .welcome {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.game-screen .online-players {
  position: absolute;
  bottom: 25px;
}

.game-screen .game-modes .mode {
  float: left;
  width: 300px;
  height: 200px;
  background-color: #3D427B;
  background-image: url('../images/multi_mode_bttn_bck.jpg');
  text-align: center;
  line-height: 200px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #EFCA88;
  text-shadow: 2px 2px #333;
  border: 2px solid #999;
  border-radius: 5px;
}
.game-screen .game-modes .mode.play-ai {
  float: right;
  background-image: url('../images/single_mode_bttn_bck.jpg');
}
.game-screen .game-modes .mode:hover {
  box-shadow: 0 0 10px 3px #EFCA88;
}

/* champion list */
.champion-list {
  position: relative;
  height: 345px;
  padding-left: 8px;
}

.champion-list .title {
  float: left;
  margin-bottom: 20px;
  font-size: 18px;
}
.champion-list .back-button {
  float: right;
  cursor: pointer;
  margin-right: 20px;
}
.champion-list .back-button:hover {
  text-decoration: underline;
  color: #1010BF;
}

.champion-list .champion {
  background-image: url('../images/champ_bck.jpg');
  box-shadow: 0 0 5px #000;
  width: 620px;
  padding: 5px 5px;
  box-sizing: border-box;
  margin-left: 0px;
  height: 130px;
  margin-bottom: 10px;
  cursor: pointer;
}

.champion-list .champion:hover {
  box-shadow: 0 0 10px 3px #EFCA88;
}

.champion-list .champion .champion-pic {
  margin-right: 25px;
  cursor: pointer;
}

.champion-list .champion .champion-info .champion-name {
  color: #EFCA88;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

.champion-list .champion .champion-info .champion-mastery-pt {
  color: #FFF;
  cursor: pointer;
}

/* finding player */
.finding-player .button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 20px 0 0 -30px;
}

/* game over */
.game-over .back {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 20px 0 0 -30px;
}
.game-over .message {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 640px;
  font-size: 36px;
  font-weight: bold;
}

/* Battle */
.battle {
  position: relative;
  height: 345px;
}
.battle .player {
  position: absolute;
  left: 0px;
  width: 170px;
  height: 345px;
  background-image: url('../images/player_bck.jpg');
  box-sizing: border-box;
  padding: 5px 8px;
  box-shadow: 0 0 5px #000;
  color: #EFCA88;
}
.battle .player.active {
  box-shadow: 0 0 10px 5px #EFCA88;
}
.battle .player.opponent {
  right: 0px;
  left: inherit;
}
.battle .player .player-name {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.battle .champion-pic {
  height: 65px;
}
.battle .champion-pic img {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto;
}

.battle .champion-name {
  text-align: center;
}

.battle .player .points {
  margin-bottom: 10px;
  height: 18px;
}
.battle .player .champion-stats .stat-name {
  font-weight: bold;
}

.battle .player .champion-stats .stat-value {
  font-size: 16px;
  float: left;
  font-weight: bold;
}

.battle .player .champion-stats .upgrade {
  float: right;
}

.battle .player .champion-stats .up-bttn {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('../images/upp_bttn_active.jpg');
  background-size: cover;
  cursor: pointer;
}
.battle .player .champion-stats .up-bttn.active:hover {
  box-shadow: 0 0 5px 2px #EFCA88;
}
.battle .player .champion-stats .up-bttn.inactive {
  background-image: url('../images/upp_bttn_inactive.jpg');
}

.battle .player .champion-stats .upgrade {
  position: relative;
}
.battle .player .champion-stats .up-txt {
  display: none;
  background: #000;
  white-space: nowrap;
  position: absolute;
  top: -1px;
  left: 25px;
  padding: 0 8px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  z-index: 10;
  border-radius: 5px;
}

.battle .ready.button {
  position: absolute;
  bottom: 25px;
  left: 50%;
  bottom: 0px;
  margin-left: -35px;
}

.battlefront {
  width: 298px;
  margin-left: 170px;
}
.battlefront .top .player-wins {
  float: left;
  width: 50px;
  text-align: center;
}
.battlefront .top .player-wins.opponent {
  float: right;
}

.battlefront .top .rounds {
  float: left;
  width: 195px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.battlefront .champ-up-state,
.battlefront .end-state {
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}
.battlefront .champ-up-state .message,
.battlefront .end-state .message {
  font-size: 20px;
}

.battlefront .battle-state .message {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.battlefront .battle-state .actions {
  width: 298px;
  margin-top: 60px;
  color: #EFCA88;
}
.battlefront .battle-state .actions .action-container {
  background-image: url('../images/battlefield_player.png');
  background-repeat: no-repeat;
  width: 145px;
  height: 175px;
  line-height: 175px;
  float: left;
  font-weight: bold;
}
.battlefront .battle-state .actions .action-container.opponent {
  float: right;
  background-image: url('../images/battlefield_opponent.png');
  background-repeat: no-repeat;
  margin-right: -4px;
}
